#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* .logoHome{
  position: absolute;
  left: 39.31%;
  right: 34.26%;
  top: 0%;
  bottom: 47.17%;
  background: #24201D;}
  .header{
  position: absolute;
  width: 1920px;
  height: 407px;
  left: 0px;
  top: 0px;
  background: #FAC234;
  }
  .searchBar{
  position: absolute;
  width: 940px;
  height: 82px;
  left: 490px;
  top: 366px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  }
  .componentSection{
  position: absolute;
  width: 340px;
  height: 403px;
  left: 250px;
  top: 658px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  }
  .componentImage{
  position: absolute;
  width: 315px;
  height: 271px;
  left: 263px;
  top: 669px;
  background: url(image.png);
  border-radius: 15px;
  }
  .firstTag{
  box-sizing: border-box;
  position: absolute;
  width: 68px;
  height: 28px;
  left: 279px;
  top: 999px;
  border: 2px solid #EB6237;
  border-radius: 30px;
  }
  .secondTag{
  box-sizing: border-box;
  position: absolute;
  width: 68px;
  height: 28px;
  left: 356px;
  top: 999px;
  border: 2px solid #EB6237;
  border-radius: 30px;
  }
  .componentTitle{
  position: absolute;
  width: 244px;
  height: 22px;
  left: 279px;
  top: 969px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  } */
  